@model Megventory_API.Models.RootObjectPost

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>mvSupplierClients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="mvSupplierClient.SupplierClientName" class="control-label"></label>
                <input asp-for="mvSupplierClient.SupplierClientName" class="form-control" />
                <span asp-validation-for="mvSupplierClient.SupplierClientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mvSupplierClient.SupplierClientType" class="control-label"></label>
                <input asp-for="mvSupplierClient.SupplierClientType" class="form-control" />
                <span asp-validation-for="mvSupplierClient.SupplierClientType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mvSupplierClient.SupplierClientBillingAddress" class="control-label"></label>
                <input asp-for="mvSupplierClient.SupplierClientBillingAddress" class="form-control" />
                <span asp-validation-for="mvSupplierClient.SupplierClientBillingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mvSupplierClient.SupplierClientPhone1" class="control-label"></label>
                <input asp-for="mvSupplierClient.SupplierClientPhone1" class="form-control" />
                <span asp-validation-for="mvSupplierClient.SupplierClientPhone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
